body {
	background-color: lightblue;
	margin: 0;
	font-family: 'Acme', sans-serif;
}

h1 {
	color: #003F87;
	text-align: center;
    text-shadow: 2px 2px #232323;
	background-color: #FF8C00;
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.1;
	font-size: 1.75em;
	padding: 20px 0;
}

#the {
	font-size: .95em;
}

#funcName {
	font-size: 2em;
}

#container {
	margin: 20px auto;
	width: 600px;
}

/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: #FF8C00;
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #a9f9f9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FF8C00;
    color: white;
}





canvas {
	/*height: 180px;
	width: 30%;*/
	/*background: none;*/
	border: 4px #232838 solid;
	padding-bottom: 0%;
	float: left;
	margin: 1.66%;
	border-radius: 15px;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
}

h1 #functionDisplay {
	color: white;
	font-weight: normal;
	text-transform: none;
	font-size: 1.15em;
}

#stripe {
	background-color: white;
	border-top: 4px #232838 solid;
	border-bottom: 4px #232838 solid;
	height: 30px;
	text-align: center;
	font-color: black;
}

.selected {
	color: white;
	background: #FF8C00;
}

#functionDisplay {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #FF8C00;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	outline-style: none;
}

#stripe button {
	outline: none;
	border-radius: 2px;
}

button:hover {
	color: white;
	background: #FF8C00;
	border-left: 1px #232838 solid;
	border-right: 1px #232838 solid;
	border-radius: 2px;
	outline-style: none;
}

#message {
	font-weight: normal;
	text-transform: none;
	display: inline-block;
	width: 25%;
	color: black;
}


/*for mobile*/
@media only screen and (max-width: 450px) {

	html {
		margin: 0;
		box-sizing: border-box;
	}

    body {
    	margin: 0;
    	background: lightblue;
    	width: 100%;
        font-size: .7em;
    }

    h1 {
    	width: 100%;
    	height: 70px;
		line-height: 1.2;
		font-size: 1em;
		padding-top: 10px;
		padding-bottom: 0px;
	    text-shadow: 1px 1px #232323;
    }

	#the {
		font-size: 1.2em;
	}

	#funcName {
		font-size: 1.4em;
	}

    h1 #functionDisplay {
		color: white;
		font-weight: normal;
		text-transform: none;
		font-size: 1.8em;
	}

    #stripe {
    	width: 100%;
    	margin-left: 0px;
    	padding-left: 0px;
    	padding-right: 0px;
		border-top: 1.5px #232838 solid;
		border-bottom: 1.5px #232838 solid;
    }

    #reset {
    	width: 12%;
    }

    #message {
    	width: 10%;
    }

    #container {
    	width: 400px;
    	margin: 10px auto;
    }

    canvas {
		border: 1.5px #232838 solid;
    }

    canvas:nth-child(odd){
    	margin-left: 15%;
    }

    canvas:nth-child(even){
    	margin-right: 10%;
    }
}